# Build Modules

In [12]:
import pandas as pd

In [2]:
import hello as h

In [3]:
h.message

'Hello'

In [4]:
h.message

'Hello'

In [5]:
import hello as h
h.message

'Hello'

In [6]:
%load_ext autoreload

In [8]:
%autoreload 2

In [9]:
h.message

'Hello JinJane'

In [14]:
import edhec_risk_kit as erk

In [16]:
returns = erk.get_data()

In [18]:
returns

            SmallCap  LargeCap
1926-07-01   -0.0145    0.0329
1926-08-01    0.0512    0.0370
1926-09-01    0.0093    0.0067
1926-10-01   -0.0484   -0.0243
1926-11-01   -0.0078    0.0270
...              ...       ...
2018-08-01    0.0241    0.0234
2018-09-01   -0.0168    0.0087
2018-10-01   -0.1002   -0.0657
2018-11-01   -0.0365    0.0253
2018-12-01   -0.1531   -0.0890

[1110 rows x 2 columns]

In [24]:
erk.drawdown(returns["SmallCap"]["1975":])["Drawdown"].idxmin()

Timestamp('2009-02-01 00:00:00')